if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[ct_actcorrcomprob_pro]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[ct_actcorrcomprob_pro]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[ct_grabaautomatico_pro]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[ct_grabaautomatico_pro]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[ct_grabarcabcomprob_pro]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[ct_grabarcabcomprob_pro]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[ct_grabardetallecomprob_pro]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[ct_grabardetallecomprob_pro]
GO

if exists (select * from dbo.systypes where name = N'fechaact')
exec sp_droptype N'fechaact'
GO

if exists (select * from dbo.systypes where name = N'numvalor')
exec sp_droptype N'numvalor'
GO

if exists (select * from dbo.systypes where name = N'usuariocodigo')
exec sp_droptype N'usuariocodigo'
GO

setuser
GO

EXEC sp_addtype N'fechaact', N'datetime', N'not null'
GO

setuser
GO

setuser
GO

EXEC sp_addtype N'numvalor', N'numeric(20,4)', N'not null'
GO

setuser
GO

setuser
GO

EXEC sp_addtype N'usuariocodigo', N'nchar (8)', N'not null'
GO

setuser
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE proc ct_actcorrcomprob_pro 
 (@base varchar(30),
  @mes char(2), 	
  @asiento varchar(20),
  @subasiento varchar(20),
  @numero float
  )
as
DECLARE @sqlcad nvarchar(1000),@sqlparm nvarchar(500)
set @sqlparm='@asiento varchar(20),@subasiento varchar(20),@numero float'
set @sqlcad=''+ 
    'UPDATE ['+@base+'].dbo.ct_subasiento    
     SET subasientonumcorr'+@mes+'=@numero
     WHERE 
	 asientocodigo=@asiento AND subasientocodigo=@subasiento'
Exec sp_executesql @sqlcad,@sqlparm,
                   @asiento,@subasiento,@numero

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE  Proc ct_grabaautomatico_pro(
@base varchar(50),
@tabla varchar(50),
@mes  varchar(2), 
@comp varchar(10),
@asiento varchar(3) ,
@subasiento varchar(4))
as
DECLARE @sqlcad varchar(8000),@sqlcad2 varchar(8000), @sqlparm nvarchar(1000)
--Pararametros de la cadena
SET @sqlparm='@mes int,@comp varchar(10),@asiento varchar(3),
              @subasiento varchar(4)'

set @sqlcad='
	  SELECT 
       A.cabcomprobmes,A.cabcomprobnumero,A.subasientocodigo, 
       A.analiticocodigo,A.asientocodigo,detcomprobitem=''00000'',
       A.monedacodigo,A.centrocostocodigo,A.documentocodigo,
       A.operacioncodigo,
       cuentacodigo=cuentadistribucion,
       A.detcomprobnumdocumento,A.detcomprobfechaemision,A.detcomprobfechavencimiento,
       detcomprobglosa=''Asiento automatico'',
       debe=isnull((case when A.detcomprobdebe > 0 then 
                 case when c.indicador=''H'' then (A.detcomprobdebe +  A.detcomprobhaber)    * (distribucionporcen/100) 
                 else 0 end
             else case when A.detcomprobhaber > 0 then 
                 	case when c.indicador=''D'' then (A.detcomprobdebe +  A.detcomprobhaber)    * (distribucionporcen/100) 
                 	else 0 end end
             end),0),    
       haber=isnull((case when A.detcomprobhaber > 0 then 
               case when c.indicador=''H'' then (A.detcomprobdebe +  A.detcomprobhaber) * (distribucionporcen/100) 
               else 0 end  
             else case when A.detcomprobdebe > 0 then  
                    case when c.indicador=''D'' then (A.detcomprobdebe +  A.detcomprobhaber) * (distribucionporcen/100) 
                    else 0 end end  
             end),0),
       usshaber=isnull((case when A.detcomprobhaber > 0 then 
                   case when c.indicador=''H'' then (A.detcomprobussdebe +  A.detcomprobusshaber) * (distribucionporcen/100) 
                   else 0 end  
                else case when A.detcomprobdebe > 0 then 
                        case when c.indicador=''D'' then (A.detcomprobussdebe +  A.detcomprobusshaber) * (distribucionporcen/100) 
                        else 0 end end 
                end),0),
       ussdebe= isnull((case when A.detcomprobdebe > 0 then 
                    case when c.indicador=''H'' then (A.detcomprobussdebe +  A.detcomprobusshaber) * (distribucionporcen/100) 
                    else 0 end 
                else case when A.detcomprobhaber > 0 then 
                    case when c.indicador=''D'' then (A.detcomprobussdebe +  A.detcomprobusshaber) * (distribucionporcen/100) 
                    else 0 end end
                end),0),     
       A.detcomprobtipocambio,
       A.detcomprobruc,
       detcomprobauto=1,
       A.detcomprobformacambio,A.detcomprobajusteuser,A.plantillaasientoinafecto,
      ID=IDENTITY(int, 1,1) 	
      INTO #tempo
FROM  ['+@base+'].dbo.ct_cuenta b,['+@base+'].dbo.['+@tabla+'] A,
      (select cuentacodigo,indicador=''D'',cuentadistribucion=distribucioncargo,distribucionporcen from ['+@base+'].dbo.ct_distribucion 
       where NOT (rtrim(distribucioncargo)='''' or 
       distribucioncargo is null)
        Union all
         select cuentacodigo,indicador=''H'',cuentadistribucion=distribucionabono,distribucionporcen from ['+@base+'].dbo.ct_distribucion 
         where NOT (rtrim(distribucionabono)='''' or 
         distribucionabono is null)) as C           
WHERE  B.cuentaestadodistribucion=1 and 
               B.cuentacodigo=A.cuentacodigo and
                B.cuentacodigo=C.cuentacodigo and  
                A.cabcomprobmes='+@mes+' and  
                A.cabcomprobnumero='''+@comp+''' and
                A.asientocodigo='''+@asiento+''' and
			    A.subasientocodigo='''+@subasiento+'''
       order by A.cabcomprobnumero,c.indicador 

'  
set @sqlcad2= '
if @@rowcount > 0 
Begin   
   declare @pend int
   select @pend=isnull(max(detcomprobitem),0) from ['+@base+'].dbo.['+@tabla+']
   where  cabcomprobmes='+@mes+' and  cabcomprobnumero='''+@comp+''' and  
            asientocodigo='''+@asiento+''' and  subasientocodigo='''+@subasiento+'''      

 insert into ['+@base+'].dbo.['+@tabla+']
   (  cabcomprobmes, cabcomprobnumero, subasientocodigo, 
      analiticocodigo, asientocodigo, 
      detcomprobitem,
      monedacodigo, centrocostocodigo, documentocodigo, operacioncodigo, cuentacodigo,
      detcomprobnumdocumento, detcomprobfechaemision, detcomprobfechavencimiento,
      detcomprobglosa, 
      detcomprobdebe, detcomprobhaber, detcomprobusshaber, detcomprobussdebe, detcomprobtipocambio, detcomprobruc,
      detcomprobauto, detcomprobformacambio, detcomprobajusteuser,plantillaasientoinafecto)
    select 
       cabcomprobmes,cabcomprobnumero,subasientocodigo, 
       analiticocodigo,asientocodigo,
       detcomprobitem=Replicate(''0'',5-len(@pend + id)) + rtrim(cast((@pend + id) as varchar(5))),
       monedacodigo,centrocostocodigo,documentocodigo, operacioncodigo,cuentacodigo,
       detcomprobnumdocumento,detcomprobfechaemision,detcomprobfechavencimiento,
       detcomprobglosa=''Asiento automatico'',
       debe,haber , usshaber, ussdebe, detcomprobtipocambio, detcomprobruc,
       detcomprobauto=1, detcomprobformacambio,detcomprobajusteuser,plantillaasientoinafecto
   from #tempo 
end'
exec(@sqlcad+@sqlcad2)





GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE ct_grabarcabcomprob_pro
	(@base varchar(30),
     	@tabla varchar(30),
	 @op int, 
	 @cabcomprobmes 	int,
	 @cabcomprobnumero char(10),
     	 @asientocodigo 	char(3),
 	 @subasientocodigo 	char (4),
	 @cabcomprobfeccontable datetime=NULL,	 
	 @usuariocodigo 	usuariocodigo=NULL,
	 @estcomprobcodigo 	char(2)=NULL,
	 @cabcomprobobservaciones 	varchar(150)=NULL,
	 @fechaact 	datetime=NULL,
	 @cabcomprobglosa 	varchar(30)=NULL,
	 @cabcomprobtotdebe 	numvalor=NULL,
	 @cabcomprobtothaber 	numvalor=NULL,
	 @cabcomprobtotussdebe 	numvalor=NULL,
	 @cabcomprobtotusshaber numvalor=NULL)

AS 
DECLARE @sqlcad nvarchar(4000),@sqlparm nvarchar(1000)
--Pararametros de la cadena
SET @sqlparm='@cabcomprobmes int,@cabcomprobnumero char(10),@cabcomprobfeccontable datetime,'+
	     '@subasientocodigo char(4),@usuariocodigo usuariocodigo,@estcomprobcodigo char(2),'+
             '@asientocodigo char(3),@cabcomprobobservaciones varchar(150),@fechaact datetime,'+
	     '@cabcomprobglosa varchar(30),@cabcomprobtotdebe numvalor,@cabcomprobtothaber numvalor,'+
	     '@cabcomprobtotussdebe numvalor,@cabcomprobtotusshaber numvalor'

IF @op=1 --Insertar Datos
BEGIN
	SET @sqlcad=''+
    'INSERT INTO '+'['+@base+'].[dbo].['+@tabla+']
	 (cabcomprobmes,
	  cabcomprobnumero,
	  cabcomprobfeccontable,
	  subasientocodigo,
	  [usuariocodigo],
	  estcomprobcodigo,
	  asientocodigo,
	  cabcomprobobservaciones,
	  [fechaact],
	  cabcomprobglosa,
	  cabcomprobtotdebe,
	  cabcomprobtothaber,
	  cabcomprobtotussdebe,
	  cabcomprobtotusshaber)  
  VALUES 
	(@cabcomprobmes,
	 @cabcomprobnumero,
	 @cabcomprobfeccontable,
	 @subasientocodigo,
	 @usuariocodigo,
	 @estcomprobcodigo,
	 @asientocodigo,
	 @cabcomprobobservaciones,
	 @fechaact,
	 @cabcomprobglosa,
	 @cabcomprobtotdebe,
	 @cabcomprobtothaber,
	 @cabcomprobtotussdebe,
	 @cabcomprobtotusshaber)'
END
IF @op=2 --Actualizar
BEGIN
	SET @sqlcad=''+
  	'UPDATE '+'['+@base+'].[dbo].['+@tabla+']'+	
    'SET cabcomprobmes=@cabcomprobmes,
	 	 cabcomprobnumero= @cabcomprobnumero,
	 	 cabcomprobfeccontable=@cabcomprobfeccontable,
	 	 subasientocodigo=@subasientocodigo,
	 	 [usuariocodigo]=@usuariocodigo,
	 	 estcomprobcodigo=@estcomprobcodigo,
	 	 asientocodigo=@asientocodigo,
	  	 cabcomprobobservaciones=@cabcomprobobservaciones,
	 	 [fechaact]	 = @fechaact,
	 	 cabcomprobglosa = @cabcomprobglosa,
	 	 cabcomprobtotdebe = @cabcomprobtotdebe,
	 	 cabcomprobtothaber	 = @cabcomprobtothaber,
	 	 cabcomprobtotussdebe	= @cabcomprobtotussdebe,
	 	 cabcomprobtotusshaber	 = @cabcomprobtotusshaber
WHERE 
	( cabcomprobmes		 = @cabcomprobmes AND
	  cabcomprobnumero	 = @cabcomprobnumero AND
	  subasientocodigo	 = @subasientocodigo AND
	  asientocodigo	 = @asientocodigo)'
END
IF @op=3 --Eliminar
BEGIN
       SET @sqlcad=''+
  	'DELETE FROM  '+'['+@base+'].[dbo].['+@tabla+'] '+  	
             '  WHERE 
	( cabcomprobmes		 = @cabcomprobmes AND
	  cabcomprobnumero	 = @cabcomprobnumero AND
	  subasientocodigo	 = @subasientocodigo AND
	  asientocodigo	 = @asientocodigo)'
END
Exec sp_executesql @sqlcad,@sqlparm,
					@cabcomprobmes,
					@cabcomprobnumero,
					@cabcomprobfeccontable,
	 				@subasientocodigo,
	 				@usuariocodigo,
	 				@estcomprobcodigo,
	 				@asientocodigo,
	 				@cabcomprobobservaciones,
	 				@fechaact,
	 				@cabcomprobglosa,
	 				@cabcomprobtotdebe,
	 				@cabcomprobtothaber,
	 				@cabcomprobtotussdebe,
	 				@cabcomprobtotusshaber
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE ct_grabardetallecomprob_pro
	(@base varchar(30),
     @tabla varchar(30),
     @op int,
     @cabcomprobmes int	,
	 @cabcomprobnumero 	[char](10),
	 @subasientocodigo 	[char](4),
	@asientocodigo 	[char](3),
	@detcomprobitem 	[char](5)=null,
	 @analiticocodigo 	[char](10)=null, 	 
	 @monedacodigo 	[char](2)=null,
	 @centrocostocodigo 	[char](5)=null,
	 @documentocodigo 	[char](2)=null,
	 @operacioncodigo 	[char](2)=null,
	 @cuentacodigo 	[varchar](20)=null,
	 @detcomprobnumdocumento 	[Varchar](20)=null,
	 @detcomprobfechaemision 	[datetime]=null,
	 @detcomprobfechavencimiento 	[datetime]=null,
	 @detcomprobglosa 	[varchar](50)=null,
	 @detcomprobdebe 	[numvalor]=0,
	 @detcomprobhaber 	[numvalor]=0,
	 @detcomprobusshaber 	[numvalor]=0,
	 @detcomprobussdebe 	[numvalor]=0,
	 @detcomprobtipocambio 	[float]=0,
	 @detcomprobruc 	[char](13)=null,
	 @detcomprobauto 	[bit]=0,     
              @detcomprobformacambio char(2)=Null,  
              @detcomprobajusteuser  bit=0,
              @plantillaasientoinafecto bit =0)
AS
DECLARE @sqlcad nvarchar(4000),@sqlparm nvarchar(1000)
--Pararametros de la cadena
SET @sqlparm='@cabcomprobmes int,@cabcomprobnumero char(10),@subasientocodigo char(4),'+
	   		 '@analiticocodigo char(10),@asientocodigo char(3),@detcomprobitem char(5),'+
	 		 '@monedacodigo char(2),@centrocostocodigo char(5),@documentocodigo char(2),'+
	 		 '@operacioncodigo char(2),@cuentacodigo varchar(20),@detcomprobnumdocumento Varchar(20),'+
	 		 '@detcomprobfechaemision datetime,@detcomprobfechavencimiento datetime,@detcomprobglosa varchar(50),'+
	 		 '@detcomprobdebe numvalor,@detcomprobhaber numvalor,@detcomprobusshaber numvalor,'+
	 		 '@detcomprobussdebe numvalor,@detcomprobtipocambio float,@detcomprobruc char(13),'+
	 		 '@detcomprobauto bit,@detcomprobformacambio char(2),@detcomprobajusteuser  bit,@plantillaasientoinafecto bit'


IF @op=1 --Insertar Datos
BEGIN
	SET @sqlcad=''+
	'INSERT INTO '+'['+@base+'].[dbo].['+@tabla+'] 
   ([cabcomprobmes],
	 [cabcomprobnumero],
	 [subasientocodigo],
	 [analiticocodigo],
	 [asientocodigo],
	 [detcomprobitem],
	 [monedacodigo],
	 [centrocostocodigo],
	 [documentocodigo],
	 [operacioncodigo],
	 [cuentacodigo],
	 [detcomprobnumdocumento],
	 [detcomprobfechaemision],
	 [detcomprobfechavencimiento],
	 [detcomprobglosa],
	 [detcomprobdebe],
	 [detcomprobhaber],
	 [detcomprobusshaber],
	 [detcomprobussdebe],
	 [detcomprobtipocambio],
	 [detcomprobruc],
	 [detcomprobauto],
              [detcomprobformacambio],detcomprobajusteuser,plantillaasientoinafecto)  
VALUES 
	(@cabcomprobmes,
	 @cabcomprobnumero,
	 @subasientocodigo,
	 @analiticocodigo,
	 @asientocodigo,
	 @detcomprobitem,
	 @monedacodigo,
	 @centrocostocodigo,
	 @documentocodigo,
	 @operacioncodigo,
	 @cuentacodigo,
	 @detcomprobnumdocumento,
	 @detcomprobfechaemision,
	 @detcomprobfechavencimiento,
	 @detcomprobglosa,
	 @detcomprobdebe,
	 @detcomprobhaber,
	 @detcomprobusshaber,
	 @detcomprobussdebe,
	 @detcomprobtipocambio,
	 @detcomprobruc,
	 @detcomprobauto,@detcomprobformacambio,@detcomprobajusteuser,@plantillaasientoinafecto)'
END

IF @op=2 --Eliminar
BEGIN
	SET @sqlcad=''+
  	'DELETE FROM '+'['+@base+'].[dbo].['+@tabla+'] '+		
	'WHERE 
	( [cabcomprobmes]	 = @cabcomprobmes AND
	  [cabcomprobnumero]	 = @cabcomprobnumero AND
	  [subasientocodigo]	 = @subasientocodigo AND
	  [asientocodigo]	 = @asientocodigo )'
END
IF @op=3 --Recuperar los Datos
BEGIN
        SET @sqlcad=''+	
        'SELECT
	detcomprobitem,operacioncodigo,cuentacodigo,centrocostocodigo,
	B.tipoanaliticocodigo,A.analiticocodigo,detcomprobruc,documentocodigo,
	detcomprobnumdocumento,detcomprobfechaemision,
	detcomprobfechavencimiento,detcomprobglosa,monedacodigo,
	tcambio =detcomprobformacambio,valcambio=detcomprobtipocambio,
	indicador=case when detcomprobdebe > 0 then ''D'' else ''H'' end,
	montosol = isnull((case when detcomprobdebe > 0 then detcomprobdebe 
             			else detcomprobhaber end),0),
	montouss = isnull((case when detcomprobussdebe > 0 then detcomprobussdebe
             			 else detcomprobusshaber end),0),detcomprobauto,detcomprobajusteuser,plantillaasientoinafecto
        FROM ['+@base+'].dbo.['+@tabla+']  A,['+@base+'].dbo.ct_analitico B
        WHERE
	A.cabcomprobmes=@cabcomprobmes and
	A.asientocodigo=@asientocodigo and
             A.subasientocodigo=@subasientocodigo and
	A.cabcomprobnumero=@cabcomprobnumero and
             A.analiticocodigo=B.analiticocodigo 
        order by A.cabcomprobmes,A.subasientocodigo,
             A.asientocodigo,A.cabcomprobnumero,A.detcomprobitem'	
END

Exec sp_executesql   @sqlcad,@sqlparm,
				   	 @cabcomprobmes,
					 @cabcomprobnumero,
					 @subasientocodigo,
					 @analiticocodigo,
					 @asientocodigo,
					 @detcomprobitem,
					 @monedacodigo,
					 @centrocostocodigo,
					 @documentocodigo,
					 @operacioncodigo,
					 @cuentacodigo,
					 @detcomprobnumdocumento,
					 @detcomprobfechaemision,
					 @detcomprobfechavencimiento,
					 @detcomprobglosa,
					 @detcomprobdebe,
					 @detcomprobhaber,
					 @detcomprobusshaber,
					 @detcomprobussdebe,
					 @detcomprobtipocambio,
					 @detcomprobruc,
					 @detcomprobauto,@detcomprobformacambio,@detcomprobajusteuser,@plantillaasientoinafecto
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

